@* === TODO　要調整的地方 ===*@
@page "/Q029SysConfig"
@page "/Q029SysConfig/{Page:int}"

@inject NavigationManager NavMgr
@inject IDbContextFactory<TaiweiContext> DbFactory
@inject NavigationManager Nav
@inject Q029Adapter QueryAdapter
@using System;
@using System.Reflection;
@* === TODO　要調整的地方 ===*@
<PageTitle Title="系統配置" />

<GridWrapper @ref="Wrapper"
             FilterChanged="ReloadAsync">
    <div class="container-fluid contacts-grid">

        <CompSearch997 Filters="@QueryAdapter.f" />

        @if (QueryAdapter.f.Loading || Items == null)
        {
            <div class="row">
                <div class="col-12 alert alert-info">
                    Loading...
                </div>
            </div>
        }

        @if (Items != null)
        {
            <CompTable997 Filters="@QueryAdapter.f"
                          Items="Items"
                          IsShowField="IsShowField"
                          ColumsToExcludeCSV="id" />
            //FieldMapper="QueryAdapter.f.FieldMappers"
        }

        @*NOTE by Mark,2021-01-18, 如果只有一頁, 不顯示分頁*@
        @if (@QueryAdapter.f.PageHelper.PageCount > 1)
        {
            <CompPaging997 Filters="@QueryAdapter.f" />

        }
    </div>
</GridWrapper>


@code
{

    [Parameter]
    public int Page
    {
        get => QueryAdapter.f.PageHelper.Page;
        set
        {
            QueryAdapter.f.PageHelper.Page = value;
        }
    }

    private string ROOT = "SysConfig";
    private string PRE = "Q029";


    /// <summary>
    /// A wrapper for grid-related activity
    /// </summary>
    private GridWrapper Wrapper { get; set; }

    private ICollection<Object> Objs { get; set; }

    // === 要調整的地方 ===
    private List<SysConfig> Items { get; set; }

    //  List<FieldMapper> QueryAdapter.f.FieldMappers;
    // 自動化由顯示欄位自動選出預設, 可以 override
    // List<int> FMapper; // NOTE by Mark, 2021-01-21,參數用來決定篩選欄位是要取那些顯示欄位.
    private bool IsShowField = true;

    private string IsDisabled(bool condition) => !QueryAdapter.f.Loading && condition ? "" : "disabled";

    /// <summary>
    /// Keeps track of the last page loaded.
    /// </summary>
    private int _lastPage = -1;

    protected override void OnAfterRender(bool firstRender)
    {
        // Ensure we're on the same, er, right page.
        if (_lastPage < 1)
        {
            Nav.NavigateTo(QueryAdapter.f.PageHelper.BaseUrl + "1");
            return;
        }

        // Normalize the page values.
        if (QueryAdapter.f.PageHelper.PageCount > 0)
        {
            if (Page < 1)
            {
                Nav.NavigateTo(QueryAdapter.f.PageHelper.BaseUrl + "1");
                return;
            }
            if (Page > QueryAdapter.f.PageHelper.PageCount)
            {
                Nav.NavigateTo(QueryAdapter.f.PageHelper.BaseUrl + QueryAdapter.f.PageHelper.PageCount);
                return;
            }
        }
        base.OnAfterRender(firstRender);
    }

    protected async override Task OnParametersSetAsync()
    {
        // Make sure the page really chagned.
        if (Page != _lastPage)
        {
            _lastPage = Page;
            await ReloadAsync();
        }
        await base.OnParametersSetAsync();
    }

    private async Task ReloadAsync()
    {
        if (QueryAdapter.f.Loading || Page < 1)
        {
            return;
        }

        QueryAdapter.f.Loading = true;

        Objs = null;
        Items = new();
        using var context = DbFactory.CreateDbContext();


        // === TODO 要調整的地方 ===
        QueryAdapter.defaultSortStr = "Type" + "_1";
        Objs = await QueryAdapter.FetchAsyncV997(context, "SysConfig");
        //Objs = await QueryAdapter.FetchAsyncQ029SysConfig(context, "SysConfig");

        // === TODO 要調整的地方 ===
        foreach (SysConfig x in Objs)
        {
            Items.Add(x);
        }

        QueryAdapter.f.Loading = false;
    }




    protected override async Task OnInitializedAsync()
    {
        //     await ReloadAsync();
    }


    protected override void OnInitialized()
    {

        // === 要調整的地方 ===
        QueryAdapter.f.PageHelper.BaseUrl = "/Q029SysConfig/";

        // TODO, 準備要由 entity 裡選, 用 LIST 給顯示名


        // === 要調整的地方 ===
        Type type = typeof(SysConfig);
        PropertyInfo[] properties = type.GetProperties();

        //var auto = new List<FieldMapper>();
        //foreach (PropertyInfo property in properties)
        //{
        //    string y = property.Name;

        //    auto.Add(new FieldMapper { Id = y, Name = y, Index = -1 });
        //}


        //QueryAdapter.f.FieldMappers = GetFieldMapper.Q019V2Outasn();
        //QueryAdapter.f.FieldMappers = auto;


        //var auto2 = new List<FieldMapper>();
        //List<int> plan2 = new List<int> { 3, 1, 2, };
        //foreach (var x in plan2)
        //{
        //    string y = properties[x].Name;
        //    auto2.Add(new FieldMapper { Id = y, Name = y, Index = -1 });
        //}
        //QueryAdapter.f.FieldMappers = auto2;

        var auto3 = new List<FieldMapper>();
        var plan3 = new List<IdName> {
          //  Type    Code    ConfigDesc  ConfigValue Memo    Createtime  Createowner Lastupdatetime  Lastupdateowner TypeMemo    Status
        //    new IdName(0,"Id"),  // 如果沒有選這項的話, 會造成 容易第一次 render 誤拿上一次的 sort string???
            new IdName(1,"Type"),
            new IdName(2,"Code"),
            new IdName(3,"ConfigDesc"),
            new IdName(4,"ConfigValue"),
            new IdName(5,"Memo"),
            new IdName(10,"TypeMemo"),
            new IdName(11,"Status"),

        };
        foreach (var x in plan3)
        {
            string Id = properties[x.Id].Name;
            auto3.Add(new FieldMapper { Id = Id, Name = x.Name, Index = -1 });
        }
        QueryAdapter.f.FieldMappers = auto3;
        //  IsShowField = false;




        //默認取第一個欄位, 正向排序
        // QueryAdapter.defaultSortStr = QueryAdapter.f.FieldMappers[0].Id + "_1";



        // 指定欄位會映對到篩選的 input text
        // === 要調整的地方 ===
        QueryAdapter.f.FMapper = new List<int> { 0, 1, 2, 4 };



    }
}


