@page "/"
@inject BlazorServer001.Services.TokenProvider TokenProvider


@using System.Net.Http

<h1>Hello, world!</h1>

Logout not working?


<form action="/Logout" method="post" style="color:black">
    <buttn clas="nav-link btn btn-link" type="submit">
        Logout
    </buttn>
    <input name="__RequestVerificationToken" type="hidden"
           value="@TokenProvider.XsrfToken" />

</form>

<h1>why ???</h1>
<form action="/Logout" method="post">
    <input name="__RequestVerificationToken" type="text"
           value="@TokenProvider.XsrfToken" />
    <input clas="nav-link btn btn-link" type="submit" value="應該可以觸發">
        
    
    <input type="submit" value="Submit">
</form>

