@page "/"
@inject BlazorServer001.Services.TokenProvider TokenProvider


@using System.Net.Http

<h1>Hello, world!</h1>

Logout not working?


<form action="/Logout" method="post" style="color:black">
    <buttn clas="nav-link btn btn-link" type="submit">
        Logout
    </buttn>
    <input name="__RequestVerificationToken" type="hidden"
           value="@TokenProvider.XsrfToken" />

</form>


<form action="/Logout" method="post">

    <input type="submit" value="Submit">
</form>

