@page "/partV1"

@using Inventory3.Data
@using Microsoft.EntityFrameworkCore



@inject IDbContextFactory<TaiweiContext> DbFactory
<h1>物料 ver 1</h1>
<ul>
    @if (partList == null)
    {
        <li>loading...</li>
    }
    else
    {

        @foreach (var part in partList)
        {
            <li>  @part.Cpartnumber  @part.Cpartname</li>
        }
    }
</ul>

@code
{




    private List<BasePart> partList;

    private int currentCount = 0;

    private void IncrementCount()
    {


        //    using var context = new TaiweiContext();
        using var context = DbFactory.CreateDbContext();
        partList = context.BasePart.OrderBy(o => o.Cpartnumber).Take(10).ToList();
    }

    protected override void OnInitialized()
    {
        //base.OnInitialized();
        IncrementCount();
    }
}


