@page "/Show2"

@using Microsoft.EntityFrameworkCore;
@using Microsoft.EntityFrameworkCore.Metadata;

@inject IDbContextFactory<TaiweiContext> DbFactory
<h3>Show</h3>
<ul>

    @foreach (var x in entList)
    {
        <li>
            @x.Name
            <ul>
                @foreach (var x2 in x.GetProperties())
                {
                    <li>@x2.Name  @x2.GetColumnType()</li>

                }
            </ul>
        </li>
    }
</ul>



@code {

    List<IEntityType> entList;
    protected override void OnInitialized()
    {
        var db = DbFactory.CreateDbContext();
        //     foreach(var x in db.Model.GetEntityTypes()) { }
        entList = db.Model.GetEntityTypes().ToList();

    }
}
