<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorSubMenu</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" >
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="ToggleNavMenu">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>


        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>ToggleSubMenuX(1)">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span>查詢
            </NavLink>
            @if (expandSubMenuX[1])
            {

        <ul>
            @*<li>

            <NavLink class="nav-link" href="partV1">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> 基本10筆
            </NavLink>
        </li>*@
            <li>

                <NavLink class="nav-link" href="part/1">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span>物料查詢
                </NavLink>
            </li>
            <li>

                <NavLink class="nav-link" href="location">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span> 儲位查詢
                </NavLink>
            </li>
            <li>

                <NavLink class="nav-link" href="adjust">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span> 庫存調整查詢
                </NavLink>
            </li>

        </ul>

            }
        </li>

        @*<li  class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>ToggleSubMenuX(2)">
                <span class="oi oi-list" aria-hidden="true"></span>儲位
            </NavLink>
            @if (expandSubMenuX[2])
            {

                <ul>
                    <li>

                        <NavLink class="nav-link" href="locationV1">
                            <span class="oi oi-magnifying-glass" aria-hidden="true"></span>基本10筆
                        </NavLink>
                    </li>
                    <li>

                        <NavLink class="nav-link" href="locationV2">
                            <span class="oi oi-pencil" aria-hidden="true"></span>儲位查詢V2
                        </NavLink>
                    </li>
                    <li>

                        <NavLink class="nav-link" href="locationV3">
                            <span class="oi oi-plus" aria-hidden="true"></span>儲位查詢V3
                        </NavLink>
                    </li>
                </ul>

            }
        </li>*@



    </ul>
</div>

@code {
    // NOTE by Mark, 2021-01-08
    private bool expandSubMenu = false;
    private void ToggleSubMenu()
    {
        expandSubMenu = !expandSubMenu;
    }

    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        //collapseNavMenu = !collapseNavMenu;
        //foreach (bool x in expandSubMenuX.Select)
        //{
        //    x = false;
        //}
        collapseNavMenu = !collapseNavMenu;

        for (int i = 0; i < expandSubMenuX.Count(); i++)
        {
            // Do something...
            expandSubMenuX[i] = collapseNavMenu;
        }
    }




    private bool[] expandSubMenuX = new bool[5];

    private void ToggleSubMenuX(int seq)
    {

        expandSubMenuX[seq] = !expandSubMenuX[seq];
    }



}