<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Codebase DEMO</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="ToggleNavMenu">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>


        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>ToggleSubMenuX(0)">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span>Mark開發中...
            </NavLink>
            @if (expandSubMenuX[0])
            {

        <ul>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Test1">
                    <span class="oi oi-home" aria-hidden="true"></span> 動態LINQ
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="toolV3">
                    <span class="oi oi-home" aria-hidden="true"></span> 開發工具
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="note3">
                    <span class="oi oi-home" aria-hidden="true"></span> 開發筆記
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ref">
                    <span class="oi oi-home" aria-hidden="true"></span> 參考
                </NavLink>
            </li>
        </ul>

            }
        </li>




        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>ToggleSubMenuX(2)">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span>基礎資料
            </NavLink>
            @if (expandSubMenuX[2])
            {

        <ul>
            <li>

                <NavLink class="nav-link" href="part/1">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span>物料
                </NavLink>
            </li>
            <li>

                <NavLink class="nav-link" href="baseoperator">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span> 操作人員
                </NavLink>
            </li>
            <li>

                <NavLink class="nav-link" href="VInoutType">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span> 入出庫狀態設置
                </NavLink>
            </li>

            <li>

                <NavLink class="nav-link" href="parameter">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span> 查表
                </NavLink>
            </li>
            <li>

                <NavLink class="nav-link" href="sysconfig">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span> 系統配置
                </NavLink>
            </li>
            <li>

                <NavLink class="nav-link" href="BaseDocureason">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span> 理由碼設置
                </NavLink>
            </li>

        </ul>

            }
        </li>



        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>ToggleSubMenuX(3)">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span>入庫管理
            </NavLink>
            @if (expandSubMenuX[3])
            {

        <ul>
            <li>

                <NavLink class="nav-link" href="Q017VInasn">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span> 入庫通知單
                </NavLink>
            </li>
            <li>

                <NavLink class="nav-link" href="inbill">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span> 入庫單查詢
                </NavLink>
            </li>
        </ul>

            }
        </li>



        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>ToggleSubMenuX(4)">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span>出庫管理
            </NavLink>
            @if (expandSubMenuX[4])
            {

        <ul>
            <li>

                <NavLink class="nav-link" href="outbill">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span> (舊)出庫單查詢
                </NavLink>
            </li>
            <li>

                <NavLink class="nav-link" href="V2Outbill">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span> 出庫單查詢
                </NavLink>
            </li>
        </ul>

            }
        </li>


        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>ToggleSubMenuX(5)">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span>庫存管理
            </NavLink>
            @if (expandSubMenuX[5])
            {

        <ul>
            <li>

                <NavLink class="nav-link" href="location">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span>(舊) 庫存查詢
                </NavLink>
            </li>
            <li>

                <NavLink class="nav-link" href="Q015V2StockCurrent">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span>庫存查詢
                </NavLink>
            </li>
            <li>

                <NavLink class="nav-link" href="adjust">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span>(舊)庫存調整
                </NavLink>
            </li>
            <li>

                <NavLink class="nav-link" href="Q016V2StockCurrentAdjust">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span>*庫存調整
                </NavLink>
            </li>
        </ul>

            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>ToggleSubMenuX(6)">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span>報表管理
            </NavLink>
            @if (expandSubMenuX[6])
            {

                <ul>
                    <li>

                        <NavLink class="nav-link" href="vcmdmst">
                            <span class="oi oi-magnifying-glass" aria-hidden="true"></span> WCS命令查詢
                        </NavLink>
                    </li>
                </ul>

            }
        </li>


    </ul>
</div>

@code {
    // NOTE by Mark, 2021-01-08
    private bool expandSubMenu = false;
    private void ToggleSubMenu()
    {
        expandSubMenu = !expandSubMenu;
    }

    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        //collapseNavMenu = !collapseNavMenu;
        //foreach (bool x in expandSubMenuX.Select)
        //{
        //    x = false;
        //}
        collapseNavMenu = !collapseNavMenu;

        for (int i = 0; i < expandSubMenuX.Count(); i++)
        {
            // Do something...
            expandSubMenuX[i] = collapseNavMenu;
        }
    }




    private bool[] expandSubMenuX = new bool[9];

    private void ToggleSubMenuX(int seq)
    {

        expandSubMenuX[seq] = !expandSubMenuX[seq];
    }



}