@page "/Base2"
@using Importer001.Data
@using Importer001.Models

@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<Importer001Context> DbFactory
<h1>Customers V2</h1>

<table class="gridtable">
    <tr><th></th><th>Customer Id</th><th>Company Name</th></tr>


    @for (int i = 1; i <= @Items.Count; i++)
    {
        <tr><th>@i</th><td>@Items[i-1].CustomerId</td><td>@Items[i-1].CompanyName</td></tr>
    }


</table>
Total Record Count is @ItemCnt

@code
{

    private bool Loading;

    List<Customers> Items;
    int ItemCnt;


    protected override void OnParametersSet()
    {
        using var db = DbFactory.CreateDbContext();

        Items = db.Customers.Take(10).ToList();
        ItemCnt = db.Customers.Count();
    }



    // System.InvalidOperationException: Multiple constructors accepting all given argument types have been found in type 'Importer001.Data.Importer001Context'. There should only be one applicable constructor.
    //at

    // https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/sql/linq/downloading-sample-databases
}
