@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@foreach (var plan in Model.Plans)
{
    <h2> @plan.Razorpage</h2>
    <h3> @plan.Entitytype</h3>
    <h3> Filter Contains</h3>

    <ul>
        @foreach (var f in plan.Filtercontains)
        {
            <li>@f</li>
        }
    </ul>
    <h3> Sort OrderBy</h3>

    <ul>
        @foreach (var f in plan.Sortorder)
        {
            <li>@f</li>
        }
    </ul>

    <hr />
}


