@page "/"
<PageTitle Title="HOME 主頁" />
<style>
    blockquote {
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
    }

        blockquote:before {
            color: #ccc;
            content: open-quote;
            font-size: 4em;
            line-height: 0.1em;
            margin-right: 0.25em;
            vertical-align: -0.4em;
        }

        blockquote p {
            display: inline;
        }
</style>
@*<blockquote class="blockquote">
        <span style="font-size:125%">鋼骨結構建立制式查詢系統, 頁面顯示實施配置方式</span>
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; --- by Mark陳炳陵
    </blockquote>*@
<hr />

<style>
    .homelink {
        margin-top: -8px;
    }
</style>
<PageTitle Title="基礎資料" />
<ul>
    <li>
        <NavLink class="homelink" href="/A001">
            A001 物料
        </NavLink>
    </li>
    <li>
        <NavLink class="homelink" href="/A002">
            A002 操作人員
        </NavLink>
    </li>
    <li>
        <NavLink class="homelink" href="/A003">
            A003 入出庫狀態設置
        </NavLink>
    </li>
    <li>
        <NavLink class="homelink" href="/A004">
            A004 編碼查表
        </NavLink>
    </li>
    <li>
        <NavLink class="homelink" href="/A005">
            A005 系統配置
        </NavLink>
    </li>
    <li>
        <NavLink class="homelink" href="/A006">
            A006 理由碼設置
        </NavLink>
    </li>

</ul>
<PageTitle Title="入庫管理" />
<ul>

    <li>
        <NavLink class="homelink" href="/A011">
            A011 入庫通知單
        </NavLink>
    </li>
    <li>
        <NavLink class="homelink" href="/A012">
            A012 入庫單
        </NavLink>
    </li>



</ul>

<PageTitle Title="出庫管理" />
<ul>

    <li>
        <NavLink class="homelink" href="/A021">
            A021 出庫通知單
        </NavLink>
    </li>
    <li>
        <NavLink class="homelink" href="/A022">
            A022 出庫單
        </NavLink>
    </li>

</ul>

<PageTitle Title="庫存管理" />
<ul>
    <li>
        <NavLink class="homelink" href="/A031">
            A031 庫存查詢
        </NavLink>
    </li>
    <li>
        <NavLink class="homelink" href="/A032">
            A032 庫存調整
        </NavLink>
    </li>



</ul>

<PageTitle Title="報表管理" />
<ul>

    <li>
        <NavLink class="homelink" href="/A041">
            A041 WCS命令查詢
        </NavLink>
    </li>

</ul>

<hr />
<PageTitle Title="DEMO 要點" />
<ul>
    <li>每頁自調試最多八個文本類型的篩選,和兩組所有顯示欄位的排序。</li>
    <li>透過配置,自定義要顯示的欄位及其順序,還有顯示文字。</li>
    <li>by Mark陳炳陵, 2021-01-25</li>

</ul>