@page "/"
<PageTitle Title="HOME 主頁" />
<style>
    blockquote {
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
    }

        blockquote:before {
            color: #ccc;
            content: open-quote;
            font-size: 4em;
            line-height: 0.1em;
            margin-right: 0.25em;
            vertical-align: -0.4em;
        }

        blockquote p {
            display: inline;
        }
</style>
@*<blockquote class="blockquote">
        <span style="font-size:125%">鋼骨結構建立制式查詢系統, 頁面顯示實施配置方式</span>
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; --- by Mark陳炳陵
    </blockquote>*@
<hr />

<style>
    .homelink {
        margin-top: -8px;
    }
</style>

<table class="gridtable">
    <tr><th></th><th>PRE</th><th>Entity</th><th>頁面顯示名稱</th><th>T/V</th><th>數據庫Table/View</th></tr>
    <tr><th>1</th><td><a href="A001">A001</a></td><td>BasePart</td><td>物料</td><td>Table</td><td>BASE_PART</td></tr>
    <tr><th>2</th><td><a href="A002">A002</a></td><td>BaseOperator</td><td>操作人員</td><td>Table</td><td>BASE_OPERATOR</td></tr>
    <tr><th>3</th><td><a href="A003">A003</a></td><td>VInoutType</td><td>入出庫狀態設置</td><td>View</td><td>V_INOutType</td></tr>
    <tr><th>4</th><td><a href="A004">A004</a></td><td>SysParameter</td><td>編碼查表</td><td>Table</td><td>SYS_PARAMETER</td></tr>
    <tr><th>5</th><td><a href="A005">A005</a></td><td>SysConfig</td><td>系統配置</td><td>Table</td><td>SYS_CONFIG</td></tr>
    <tr><th>6</th><td><a href="A006">A006</a></td><td>BaseDocureason</td><td>理由碼設置</td><td>Table</td><td>BASE_DOCUREASON</td></tr>
    <tr><th>7</th><td><a href="A011">A011</a></td><td>VInasn</td><td>入庫通知單</td><td>View</td><td>V_INASN</td></tr>
    <tr><th>8</th><td><a href="A012">A012</a></td><td>Inbill</td><td>入庫單</td><td>Table</td><td>INBILL</td></tr>
    <tr><th>9</th><td><a href="A021">A021</a></td><td>V2Outasn</td><td>出庫通知單</td><td>View</td><td>V2_OUTASN</td></tr>
    <tr><th>10</th><td><a href="A022">A022</a></td><td>V2Outbill</td><td>出庫單</td><td>View</td><td>V2_OUTBILL</td></tr>
    <tr><th>11</th><td><a href="A031">A031</a></td><td>VStockCurrent</td><td>庫存查詢</td><td>View</td><td>V_STOCK_CURRENT</td></tr>
    <tr><th>12</th><td><a href="A032">A032</a></td><td>V2StockCurrentAdjust</td><td>庫存查詢</td><td>View</td><td>V2_STOCK_CURRENT_ADJUST</td></tr>
    <tr><th>13</th><td><a href="A041">A041</a></td><td>VCmdMst</td><td>WCS命令查詢</td><td>View</td><td>V_CMD_MST</td></tr>
</table>

<hr />

<PageTitle Title="基礎資料" />
<ul>
    <li>
        <NavLink class="homelink" href="/A001">
            A001 物料
        </NavLink>
    </li>
    <li>
        <NavLink class="homelink" href="/A002">
            A002 操作人員
        </NavLink>
    </li>
    <li>
        <NavLink class="homelink" href="/A003">
            A003 入出庫狀態設置
        </NavLink>
    </li>
    <li>
        <NavLink class="homelink" href="/A004">
            A004 編碼查表
        </NavLink>
    </li>
    <li>
        <NavLink class="homelink" href="/A005">
            A005 系統配置
        </NavLink>
    </li>
    <li>
        <NavLink class="homelink" href="/A006">
            A006 理由碼設置
        </NavLink>
    </li>

</ul>
<PageTitle Title="入庫管理" />
<ul>

    <li>
        <NavLink class="homelink" href="/A011">
            A011 入庫通知單
        </NavLink>
    </li>
    <li>
        <NavLink class="homelink" href="/A012">
            A012 入庫單
        </NavLink>
    </li>



</ul>

<PageTitle Title="出庫管理" />
<ul>

    <li>
        <NavLink class="homelink" href="/A021">
            A021 出庫通知單
        </NavLink>
    </li>
    <li>
        <NavLink class="homelink" href="/A022">
            A022 出庫單
        </NavLink>
    </li>

</ul>

<PageTitle Title="庫存管理" />
<ul>
    <li>
        <NavLink class="homelink" href="/A031">
            A031 庫存查詢
        </NavLink>
    </li>
    <li>
        <NavLink class="homelink" href="/A032">
            A032 庫存調整
        </NavLink>
    </li>



</ul>

<PageTitle Title="報表管理" />
<ul>

    <li>
        <NavLink class="homelink" href="/A041">
            A041 WCS命令查詢
        </NavLink>
    </li>

</ul>

<hr />
<PageTitle Title="DEMO 要點" />
<ul>
    <li>每頁自調試最多八個文本類型的篩選,和兩組所有顯示欄位的排序。</li>
    <li>透過配置,自定義要顯示的欄位及其順序,還有顯示文字。</li>
    <li>by Mark陳炳陵, 2021-01-25</li>

</ul>