@page "/locationV1"

<h1>儲位 ver1</h1>


<ul>

    @foreach (var x in stockCurrentList)
    {
        <li>  @x.Cpositioncode @x.Cposition @x.Cinvcode</li>
    }
</ul>

@code
{




    private List<StockCurrent> stockCurrentList;

    private int currentCount = 0;

    private void IncrementCount()
    {
        using var context = new TaiweiContext();
        stockCurrentList = context.StockCurrent.OrderBy(o=>o.Cpositioncode).ThenBy(o => o.Cinvcode).Take(10).ToList();
    }

    protected override void OnInitialized()
    {
        //base.OnInitialized();
        IncrementCount();
    }
}




